.projects-header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .projects-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  
  .project-item {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
  }
  
  .project-item h2 {
    color: black;
  }
  
  button {
    background-color: #28a745 ;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: darkred;
  }
  .back-button {
    background-color: #070000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: rgb(253, 251, 251);
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
    position: absolute;
    top: 16px;
    left: 20px;
    z-index: 10; /* Ensures it's above other content */
  }
  