.project-container {
    background-color: rgb(189,233,201);
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.projects-header {
    background-color: #205E23;
    color: white;
    padding: 20px;
    text-align: center;
  }
  .projects-header h1 {
    margin: 0;
    font-size: 22px; /* Adjust the size as needed */
  }
  
  .projects-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  
  .project-item {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
  }
  
  .project-item h2 {
    color: black;
  }
  
  button {
    background-color: #28a745 ;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: darkred;
  }
  